

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "notyf/notyf.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Application globale */
:root {
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
}
html,
body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}