<div class="bg-gradient-to-br from-slate-950 via-slate-900 to-slate-950 text-white min-h-screen">
<app-header></app-header>

  <div class="flex flex-col items-center justify-center py-10 px-4">
    <h1 class="mt-10 text-3xl font-bold mb-6">Create New Expense</h1>
    <form
      [formGroup]="expenseForm"
      (ngSubmit)="createExpense()"
      class="w-full max-w-lg bg-[#1a1a1a] p-8 rounded-2xl shadow-lg"
    >
      <div class="mb-5">
        <label for="title" class="block mb-2 text-sm font-medium">Title</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          placeholder="Enter expense title"
          class="w-full px-4 py-3 rounded-xl bg-[#0f0f0f] text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <small *ngIf="title.invalid && (title.dirty || title.touched)" class="text-red-500 text-sm">
          <div *ngIf="title.errors?.['required']">Title is required.</div>
        </small>
      </div>
      <div class="w-full overflow-x-auto">
  <div
    class="flex gap-4 p-4 snap-x snap-mandatory overflow-x-auto scrollbar-hide"
  >
    <div
      *ngFor="let cat of categories"
      (click)="selectCategory(cat)"
      [ngClass]="{ 'selected': expenseForm.value.category.value === cat.value }"
      class="flex flex-col items-center justify-center flex-shrink-0 w-24 h-24 
             rounded-2xl bg-yellow-100 shadow-md cursor-pointer 
             hover:scale-105 transition-transform duration-200 
             snap-center border-2 border-transparent"
    >
      <img [src]="cat.icon" class="w-10 h-10 mb-2 object-contain" />
      <span class="text-sm font-medium text-gray-700 text-center">{{ cat.label  }}</span>
    </div>
   
  </div>
  </div>
   <div *ngIf="expenseForm.value.category" class="mt-4 text-sm text-gray-600">
      Catégorie choisie : <strong>{{ expenseForm.value.category.label }}</strong>
    </div>

      <!-- Amount -->
      <div class="mb-5">
        <label for="amount" class="block mb-2 text-sm font-medium">Amount</label>
        <input
          type="number"
          id="amount"
          formControlName="amount"
          placeholder="Enter amount"
          class="w-full px-4 py-3 rounded-xl bg-[#0f0f0f] text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <small *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="text-red-500 text-sm">
          <div *ngIf="amount.errors?.['required']">Amount is required.</div>
          <div *ngIf="amount.errors?.['min']">Amount must be greater than 0.</div>
        </small>
      </div>

      <!-- Date -->
      <div class="mb-5">
        <label for="date" class="block mb-2 text-sm font-medium">Date</label>
        <input
          type="date"
          id="date"
          formControlName="date"
          class="w-full px-4 py-3 rounded-xl bg-[#0f0f0f] text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <small *ngIf="date.invalid && (date.dirty || date.touched)" class="text-red-500 text-sm">
          <div *ngIf="date.errors?.['required']">Date is required.</div>
        </small>
      </div>
       <!-- Date -->
      <div class="mb-5">
        <label for="description" class="block mb-2 text-sm font-medium">Description</label>
        <textarea
          type="text"
          id="description"
          formControlName="description"
          class="w-full px-4 py-3 rounded-xl bg-[#0f0f0f] text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
       ></textarea>
    </div>
      <!-- Submit Button -->
    <button
      data-testid="submit-button"
      type="submit"
      [disabled]="expenseForm.invalid"
      class="w-full bg-yellow-400 text-black font-semibold py-3 rounded-xl mt-4 hover:bg-yellow-500 transition disabled:opacity-50"
    >
      Save
    </button>
    </form>