
<div  *ngIf="currentQuestionIndex < answer_getting_started.length && finished!=true">
   <div class="notification-modal" *ngIf="showModal">
    <p>{{ answer_getting_started[currentQuestionIndex].question }}</p>
  </div>
  
  <main class="answers">
    <div
      *ngFor="let option of answer_getting_started[currentQuestionIndex].options"
      (click)="selectAnswer(option)"
      [ngStyle]="{ 'background-color': option.bgColor, color: option.textColor }"
      class="answer-box"
    >
      {{ option.label }}
    </div>
    <div class="color-line">
      <div class="color-block" style="background-color: #00286ce6"></div>
      <div class="color-block" style="background-color: #28a745;"></div>
      <div class="color-block" style="background-color: #ffd900;"></div>
      <div class="color-block" style="background-color: #9c27b0;"></div>
      <div class="color-block" style="background-color: #f44336;"></div>
    </div>
  </main>
</div>



